<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unicdata.dao.car.CarAllotMapper">
  <resultMap id="BaseResultMap" type="com.unicdata.entity.car.CarAllot">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="distributor_store_id" jdbcType="INTEGER" property="distributorStoreId" />
    <result column="application_id" jdbcType="INTEGER" property="applicationId" />
    <result column="car_good_id" jdbcType="INTEGER" property="carGoodId" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, distributor_store_id, application_id, car_good_id, price, create_date, update_date, 
    status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_allot
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from car_allot
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.unicdata.entity.car.CarAllot">
    insert into car_allot (id, distributor_store_id, application_id, 
      car_good_id, price, create_date, 
      update_date, status)
    values (#{id,jdbcType=INTEGER}, #{distributorStoreId,jdbcType=INTEGER}, #{applicationId,jdbcType=INTEGER}, 
      #{carGoodId,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.unicdata.entity.car.CarAllot">
    insert into car_allot
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="distributorStoreId != null">
        distributor_store_id,
      </if>
      <if test="applicationId != null">
        application_id,
      </if>
      <if test="carGoodId != null">
        car_good_id,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="distributorStoreId != null">
        #{distributorStoreId,jdbcType=INTEGER},
      </if>
      <if test="applicationId != null">
        #{applicationId,jdbcType=INTEGER},
      </if>
      <if test="carGoodId != null">
        #{carGoodId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unicdata.entity.car.CarAllot">
    update car_allot
    <set>
      <if test="distributorStoreId != null">
        distributor_store_id = #{distributorStoreId,jdbcType=INTEGER},
      </if>
      <if test="applicationId != null">
        application_id = #{applicationId,jdbcType=INTEGER},
      </if>
      <if test="carGoodId != null">
        car_good_id = #{carGoodId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unicdata.entity.car.CarAllot">
    update car_allot
    set distributor_store_id = #{distributorStoreId,jdbcType=INTEGER},
      application_id = #{applicationId,jdbcType=INTEGER},
      car_good_id = #{carGoodId,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectListByApplication" parameterType="java.lang.Integer" resultType="java.util.Map">
	SELECT
		ca.price,
		cgi.id,
		cgi.vin,
		cgi.standard_price as standardPrice,
		cgi.optional_package_status as optionalPackageStatus,
		cvc.year,
		cvc.name as vehicleName,
		cf.name as familyName,
		cgi.decorations_out_name as decorationsOutName,
		cgi.decorations_in_name as decorationsInName,
		DATE_FORMAT(cgi.produce_date,'%Y-%m-%d %H:%i:%s') produceDate,
		DATE_FORMAT(cgi.in_storage_date,'%Y-%m-%d %H:%i:%s') inStorageDate,
		cgi.new_boutique_status as newBoutiqueStatus
	FROM
		car_allot ca
	LEFT JOIN car_good_info cgi on ca.car_good_id = cgi.id
	LEFT JOIN car_family cf on cgi.family_id = cf.id
	LEFT JOIN car_vehicle_conf cvc on cgi.vehicle_id = cvc.id
	where ca.application_id = #{applicationId,jdbcType=INTEGER}
	and ca.status = 1
	order by ca.create_date asc
  </select>
  <!-- 今日调拨 wp -->
  <select id="carAllotList" parameterType="java.util.Map" resultType="java.util.Map">
   SELECT
	c.id,
	c.distributor_store_id,
	c.family_id,
	c.vehicle_id,
	c.brand_id,
	c.vin,
	c.engine_num,
	c.storage_status,
	c.warehouse_id,
	c.storage_id,
	c.decorations_out_id,
	c.decorations_out_name,
	c.decorations_in_id,
	c.decorations_in_name,
	c.new_boutique_status,
	c.optional_package_status,
	c.in_storage_day, 
	cvc.`name` AS chexing_name,
	cf.`name` AS chexi_name,
	cb.`name` AS pingpai_name,
	(SELECT cw.name from car_warehouse cw WHERE cw.id=c.warehouse_id) cangku_name,
	(SELECT name FROM car_storage cs WHERE cs.id=c.storage_id) kuwei
	FROM car_allot_application caa
	RIGHT JOIN car_allot ca ON ca.application_id=caa.id
	LEFT JOIN car_good_info c ON c.id=ca.car_good_id
	LEFT JOIN car_vehicle_conf cvc ON c.vehicle_id=cvc.id
	LEFT JOIN car_family cf ON cf.id=cvc.family_id
	LEFT JOIN car_brand cb ON cb.id=cf.brand_id
	WHERE c.distributor_store_id=cf.distributor_store_id=cb.distributor_store_id=cvc.distributor_store_id
  <if test="operateDate != null">
    	AND DATE_FORMAT(caa.operate_date, '%Y-%m-%d') = DATE_FORMAT(#{operateDate}, '%Y-%m-%d')
   </if> 
   <if test="storeId != null">
    	AND c.distributor_store_id = #{storeId,jdbcType=INTEGER}
   </if>
  </select>
</mapper>