<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unicdata.dao.car.CarBoutiqueBindingMapper">
  <resultMap id="BaseResultMap" type="com.unicdata.entity.car.CarBoutiqueBinding">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="car_id" jdbcType="INTEGER" property="carId" />
    <result column="boutique_id" jdbcType="INTEGER" property="boutiqueId" />
    <result column="boutique_num" jdbcType="INTEGER" property="boutiqueNum" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, car_id, boutique_id, boutique_num, operator_id, status, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_boutique_binding
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from car_boutique_binding
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.unicdata.entity.car.CarBoutiqueBinding">
    insert into car_boutique_binding (id, car_id, boutique_id, 
      boutique_num, operator_id, status, 
      create_date, update_date)
    values (#{id,jdbcType=INTEGER}, #{carId,jdbcType=INTEGER}, #{boutiqueId,jdbcType=INTEGER}, 
      #{boutiqueNum,jdbcType=INTEGER}, #{operatorId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.unicdata.entity.car.CarBoutiqueBinding">
    insert into car_boutique_binding
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="carId != null">
        car_id,
      </if>
      <if test="boutiqueId != null">
        boutique_id,
      </if>
      <if test="boutiqueNum != null">
        boutique_num,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="carId != null">
        #{carId,jdbcType=INTEGER},
      </if>
      <if test="boutiqueId != null">
        #{boutiqueId,jdbcType=INTEGER},
      </if>
      <if test="boutiqueNum != null">
        #{boutiqueNum,jdbcType=INTEGER},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unicdata.entity.car.CarBoutiqueBinding">
    update car_boutique_binding
    <set>
      <if test="carId != null">
        car_id = #{carId,jdbcType=INTEGER},
      </if>
      <if test="boutiqueId != null">
        boutique_id = #{boutiqueId,jdbcType=INTEGER},
      </if>
      <if test="boutiqueNum != null">
        boutique_num = #{boutiqueNum,jdbcType=INTEGER},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unicdata.entity.car.CarBoutiqueBinding">
    update car_boutique_binding
    set car_id = #{carId,jdbcType=INTEGER},
      boutique_id = #{boutiqueId,jdbcType=INTEGER},
      boutique_num = #{boutiqueNum,jdbcType=INTEGER},
      operator_id = #{operatorId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByCarId" parameterType="java.lang.Integer" resultType="java.util.Map">
    SELECT
    	cbb.id,
    	cbb.boutique_id as boutiqueId,
		cbb.boutique_num as boutiqueNum,
		bi.code,
		bi.name,
		bi.coefficient,
		bi.unitprice,
		DATE_FORMAT(bi.last_push_time,'%Y-%m-%d %H:%i:%s')lastPushTime,
		bb.name as brandName,
		bs.is_host as isHost
	FROM
		car_boutique_binding cbb
	LEFT JOIN boutique_information bi ON cbb.boutique_id = bi.id
	LEFT JOIN boutique_brand bb on bi.brand_id = bb.id
	LEFT JOIN boutique_supplier bs on bs.id = bi.supplier_id
    where cbb.car_id = #{carId,jdbcType=INTEGER}
    and cbb.status = 1
    and bi.type_live = 1
    order by cbb.create_date desc
  </select>
</mapper>