<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unicdata.dao.carInfo.UnicdataVehicleBasicMapper">
  <resultMap id="BaseResultMap" type="com.unicdata.entity.carInfo.UnicdataVehicleBasic">
    <id column="row_names" jdbcType="INTEGER" property="rowNames" />
    <result column="unicdatakey" jdbcType="VARCHAR" property="unicdatakey" />
    <result column="brandname" jdbcType="VARCHAR" property="brandname" />
    <result column="factoryname" jdbcType="VARCHAR" property="factoryname" />
    <result column="familyname" jdbcType="VARCHAR" property="familyname" />
    <result column="brandid" jdbcType="DOUBLE" property="brandid" />
    <result column="factoryid" jdbcType="DOUBLE" property="factoryid" />
    <result column="familyid" jdbcType="DOUBLE" property="familyid" />
    <result column="makeyear" jdbcType="VARCHAR" property="makeyear" />
    <result column="output" jdbcType="DOUBLE" property="output" />
    <result column="geartype" jdbcType="VARCHAR" property="geartype" />
    <result column="salesdesc" jdbcType="VARCHAR" property="salesdesc" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="saleyear" jdbcType="VARCHAR" property="saleyear" />
    <result column="salemonth" jdbcType="VARCHAR" property="salemonth" />
    <result column="produceyear" jdbcType="VARCHAR" property="produceyear" />
    <result column="stopyear" jdbcType="VARCHAR" property="stopyear" />
    <result column="producestatus" jdbcType="VARCHAR" property="producestatus" />
    <result column="bigtype" jdbcType="VARCHAR" property="bigtype" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="property" jdbcType="VARCHAR" property="property" />
    <result column="petrol" jdbcType="VARCHAR" property="petrol" />
    <result column="accelerate" jdbcType="DOUBLE" property="accelerate" />
    <result column="masspeed" jdbcType="VARCHAR" property="masspeed" />
    <result column="status" jdbcType="DOUBLE" property="status" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    row_names, unicdatakey, brandname, factoryname, familyname, brandid, factoryid, familyid, 
    makeyear, output, geartype, salesdesc, price, saleyear, salemonth, produceyear, stopyear, 
    producestatus, bigtype, type, level, nation, property, petrol, accelerate, masspeed, 
    status, note
  </sql>
  <select id="selectByExample" parameterType="com.unicdata.entity.carInfo.UnicdataVehicleBasicExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from unicdata_vehicle_basic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from unicdata_vehicle_basic
    where row_names = #{rowNames,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from unicdata_vehicle_basic
    where row_names = #{rowNames,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.unicdata.entity.carInfo.UnicdataVehicleBasic">
    insert into unicdata_vehicle_basic (row_names, unicdatakey, brandname, 
      factoryname, familyname, brandid, 
      factoryid, familyid, makeyear, 
      output, geartype, salesdesc, 
      price, saleyear, salemonth, 
      produceyear, stopyear, producestatus, 
      bigtype, type, level, 
      nation, property, petrol, 
      accelerate, masspeed, status, 
      note)
    values (#{rowNames,jdbcType=INTEGER}, #{unicdatakey,jdbcType=VARCHAR}, #{brandname,jdbcType=VARCHAR}, 
      #{factoryname,jdbcType=VARCHAR}, #{familyname,jdbcType=VARCHAR}, #{brandid,jdbcType=DOUBLE}, 
      #{factoryid,jdbcType=DOUBLE}, #{familyid,jdbcType=DOUBLE}, #{makeyear,jdbcType=VARCHAR}, 
      #{output,jdbcType=DOUBLE}, #{geartype,jdbcType=VARCHAR}, #{salesdesc,jdbcType=VARCHAR}, 
      #{price,jdbcType=VARCHAR}, #{saleyear,jdbcType=VARCHAR}, #{salemonth,jdbcType=VARCHAR}, 
      #{produceyear,jdbcType=VARCHAR}, #{stopyear,jdbcType=VARCHAR}, #{producestatus,jdbcType=VARCHAR}, 
      #{bigtype,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, 
      #{nation,jdbcType=VARCHAR}, #{property,jdbcType=VARCHAR}, #{petrol,jdbcType=VARCHAR}, 
      #{accelerate,jdbcType=DOUBLE}, #{masspeed,jdbcType=VARCHAR}, #{status,jdbcType=DOUBLE}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.unicdata.entity.carInfo.UnicdataVehicleBasic">
    insert into unicdata_vehicle_basic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rowNames != null">
        row_names,
      </if>
      <if test="unicdatakey != null">
        unicdatakey,
      </if>
      <if test="brandname != null">
        brandname,
      </if>
      <if test="factoryname != null">
        factoryname,
      </if>
      <if test="familyname != null">
        familyname,
      </if>
      <if test="brandid != null">
        brandid,
      </if>
      <if test="factoryid != null">
        factoryid,
      </if>
      <if test="familyid != null">
        familyid,
      </if>
      <if test="makeyear != null">
        makeyear,
      </if>
      <if test="output != null">
        output,
      </if>
      <if test="geartype != null">
        geartype,
      </if>
      <if test="salesdesc != null">
        salesdesc,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="saleyear != null">
        saleyear,
      </if>
      <if test="salemonth != null">
        salemonth,
      </if>
      <if test="produceyear != null">
        produceyear,
      </if>
      <if test="stopyear != null">
        stopyear,
      </if>
      <if test="producestatus != null">
        producestatus,
      </if>
      <if test="bigtype != null">
        bigtype,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="property != null">
        property,
      </if>
      <if test="petrol != null">
        petrol,
      </if>
      <if test="accelerate != null">
        accelerate,
      </if>
      <if test="masspeed != null">
        masspeed,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rowNames != null">
        #{rowNames,jdbcType=INTEGER},
      </if>
      <if test="unicdatakey != null">
        #{unicdatakey,jdbcType=VARCHAR},
      </if>
      <if test="brandname != null">
        #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="factoryname != null">
        #{factoryname,jdbcType=VARCHAR},
      </if>
      <if test="familyname != null">
        #{familyname,jdbcType=VARCHAR},
      </if>
      <if test="brandid != null">
        #{brandid,jdbcType=DOUBLE},
      </if>
      <if test="factoryid != null">
        #{factoryid,jdbcType=DOUBLE},
      </if>
      <if test="familyid != null">
        #{familyid,jdbcType=DOUBLE},
      </if>
      <if test="makeyear != null">
        #{makeyear,jdbcType=VARCHAR},
      </if>
      <if test="output != null">
        #{output,jdbcType=DOUBLE},
      </if>
      <if test="geartype != null">
        #{geartype,jdbcType=VARCHAR},
      </if>
      <if test="salesdesc != null">
        #{salesdesc,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="saleyear != null">
        #{saleyear,jdbcType=VARCHAR},
      </if>
      <if test="salemonth != null">
        #{salemonth,jdbcType=VARCHAR},
      </if>
      <if test="produceyear != null">
        #{produceyear,jdbcType=VARCHAR},
      </if>
      <if test="stopyear != null">
        #{stopyear,jdbcType=VARCHAR},
      </if>
      <if test="producestatus != null">
        #{producestatus,jdbcType=VARCHAR},
      </if>
      <if test="bigtype != null">
        #{bigtype,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="property != null">
        #{property,jdbcType=VARCHAR},
      </if>
      <if test="petrol != null">
        #{petrol,jdbcType=VARCHAR},
      </if>
      <if test="accelerate != null">
        #{accelerate,jdbcType=DOUBLE},
      </if>
      <if test="masspeed != null">
        #{masspeed,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DOUBLE},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unicdata.entity.carInfo.UnicdataVehicleBasic">
    update unicdata_vehicle_basic
    <set>
      <if test="unicdatakey != null">
        unicdatakey = #{unicdatakey,jdbcType=VARCHAR},
      </if>
      <if test="brandname != null">
        brandname = #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="factoryname != null">
        factoryname = #{factoryname,jdbcType=VARCHAR},
      </if>
      <if test="familyname != null">
        familyname = #{familyname,jdbcType=VARCHAR},
      </if>
      <if test="brandid != null">
        brandid = #{brandid,jdbcType=DOUBLE},
      </if>
      <if test="factoryid != null">
        factoryid = #{factoryid,jdbcType=DOUBLE},
      </if>
      <if test="familyid != null">
        familyid = #{familyid,jdbcType=DOUBLE},
      </if>
      <if test="makeyear != null">
        makeyear = #{makeyear,jdbcType=VARCHAR},
      </if>
      <if test="output != null">
        output = #{output,jdbcType=DOUBLE},
      </if>
      <if test="geartype != null">
        geartype = #{geartype,jdbcType=VARCHAR},
      </if>
      <if test="salesdesc != null">
        salesdesc = #{salesdesc,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="saleyear != null">
        saleyear = #{saleyear,jdbcType=VARCHAR},
      </if>
      <if test="salemonth != null">
        salemonth = #{salemonth,jdbcType=VARCHAR},
      </if>
      <if test="produceyear != null">
        produceyear = #{produceyear,jdbcType=VARCHAR},
      </if>
      <if test="stopyear != null">
        stopyear = #{stopyear,jdbcType=VARCHAR},
      </if>
      <if test="producestatus != null">
        producestatus = #{producestatus,jdbcType=VARCHAR},
      </if>
      <if test="bigtype != null">
        bigtype = #{bigtype,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="property != null">
        property = #{property,jdbcType=VARCHAR},
      </if>
      <if test="petrol != null">
        petrol = #{petrol,jdbcType=VARCHAR},
      </if>
      <if test="accelerate != null">
        accelerate = #{accelerate,jdbcType=DOUBLE},
      </if>
      <if test="masspeed != null">
        masspeed = #{masspeed,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=DOUBLE},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where row_names = #{rowNames,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unicdata.entity.carInfo.UnicdataVehicleBasic">
    update unicdata_vehicle_basic
    set unicdatakey = #{unicdatakey,jdbcType=VARCHAR},
      brandname = #{brandname,jdbcType=VARCHAR},
      factoryname = #{factoryname,jdbcType=VARCHAR},
      familyname = #{familyname,jdbcType=VARCHAR},
      brandid = #{brandid,jdbcType=DOUBLE},
      factoryid = #{factoryid,jdbcType=DOUBLE},
      familyid = #{familyid,jdbcType=DOUBLE},
      makeyear = #{makeyear,jdbcType=VARCHAR},
      output = #{output,jdbcType=DOUBLE},
      geartype = #{geartype,jdbcType=VARCHAR},
      salesdesc = #{salesdesc,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      saleyear = #{saleyear,jdbcType=VARCHAR},
      salemonth = #{salemonth,jdbcType=VARCHAR},
      produceyear = #{produceyear,jdbcType=VARCHAR},
      stopyear = #{stopyear,jdbcType=VARCHAR},
      producestatus = #{producestatus,jdbcType=VARCHAR},
      bigtype = #{bigtype,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      property = #{property,jdbcType=VARCHAR},
      petrol = #{petrol,jdbcType=VARCHAR},
      accelerate = #{accelerate,jdbcType=DOUBLE},
      masspeed = #{masspeed,jdbcType=VARCHAR},
      status = #{status,jdbcType=DOUBLE},
      note = #{note,jdbcType=VARCHAR}
    where row_names = #{rowNames,jdbcType=INTEGER}
  </update>
</mapper>