<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unicdata.dao.system.EmployeeTargetMapper">
    <resultMap id="BaseResultMap" type="com.unicdata.entity.system.EmployeeTarget">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="employee_id" jdbcType="INTEGER" property="employeeId"/>
        <result column="target_order" jdbcType="INTEGER" property="targetOrder"/>
        <result column="target_deliver" jdbcType="INTEGER" property="targetDeliver"/>
        <result column="target_cus" jdbcType="INTEGER" property="targetCus"/>
        <result column="target_record" jdbcType="INTEGER" property="targetRecord"/>
        <result column="target_time" jdbcType="VARCHAR" property="targetTime"/>
        <result column="target_drive" jdbcType="INTEGER" property="targetDrive"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, employee_id, target_order, target_deliver, target_cus, target_record, target_time, 
    target_drive, create_time, status
  </sql>
    <!-- 根据条件查询当月目标 -->
    <select id="selectEmployeeTarget" parameterType="com.unicdata.entity.system.EmployeeTarget"
            resultMap="BaseResultMap">
        select id, employee_id, IFNULL(target_order,0) target_order,IFNULL(target_deliver,0) target_deliver,
        IFNULL(target_cus,0) target_cus,IFNULL(target_record,0) target_record, target_time, 
    target_drive, create_time, status from employee_target
        where status = 1
        <if test="employeeId != null">
            AND employee_id = #{employeeId}
        </if>
        <if test="targetTime != null and targetTime != ''">
            AND target_time = #{targetTime}
        </if>
        limit 1
    </select>
    <!-- 销售经理根据条件查询当月目标 -->
    <select id="selectEmployeeTargetByStoreId" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        et.*
        from employee_target et
        LEFT JOIN employee e ON e.id=et.employee_id
        LEFT JOIN employee_role er ON er.employee_id=e.id
        where status = 1
        <if test="employeeId != null">
            AND e.store_id = #{storeId}
        </if>
        <if test="employeeId != null">
            AND er.role_id = #{roleId}
        </if>
        <if test="targetTime != null and targetTime != ''">
            AND et.target_time = #{targetTime}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from employee_target
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from employee_target
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.unicdata.entity.system.EmployeeTarget">
    insert into employee_target (id, employee_id, target_order, 
      target_deliver, target_cus, target_record, 
      target_time, target_drive, create_time, 
      status)
    values (#{id,jdbcType=INTEGER}, #{employeeId,jdbcType=INTEGER}, #{targetOrder,jdbcType=INTEGER}, 
      #{targetDeliver,jdbcType=INTEGER}, #{targetCus,jdbcType=INTEGER}, #{targetRecord,jdbcType=INTEGER}, 
      #{targetTime,jdbcType=VARCHAR}, #{targetDrive,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT})
  </insert>
    <insert id="insertSelective" parameterType="com.unicdata.entity.system.EmployeeTarget">
        insert into employee_target
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="employeeId != null">
                employee_id,
            </if>
            <if test="targetOrder != null">
                target_order,
            </if>
            <if test="targetDeliver != null">
                target_deliver,
            </if>
            <if test="targetCus != null">
                target_cus,
            </if>
            <if test="targetRecord != null">
                target_record,
            </if>
            <if test="targetTime != null">
                target_time,
            </if>
            <if test="targetDrive != null">
                target_drive,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="employeeId != null">
                #{employeeId,jdbcType=INTEGER},
            </if>
            <if test="targetOrder != null">
                #{targetOrder,jdbcType=INTEGER},
            </if>
            <if test="targetDeliver != null">
                #{targetDeliver,jdbcType=INTEGER},
            </if>
            <if test="targetCus != null">
                #{targetCus,jdbcType=INTEGER},
            </if>
            <if test="targetRecord != null">
                #{targetRecord,jdbcType=INTEGER},
            </if>
            <if test="targetTime != null">
                #{targetTime,jdbcType=VARCHAR},
            </if>
            <if test="targetDrive != null">
                #{targetDrive,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.unicdata.entity.system.EmployeeTarget">
        update employee_target
        <set>
            <if test="employeeId != null">
                employee_id = #{employeeId,jdbcType=INTEGER},
            </if>
            <if test="targetOrder != null">
                target_order = #{targetOrder,jdbcType=INTEGER},
            </if>
            <if test="targetDeliver != null">
                target_deliver = #{targetDeliver,jdbcType=INTEGER},
            </if>
            <if test="targetCus != null">
                target_cus = #{targetCus,jdbcType=INTEGER},
            </if>
            <if test="targetRecord != null">
                target_record = #{targetRecord,jdbcType=INTEGER},
            </if>
            <if test="targetTime != null">
                target_time = #{targetTime,jdbcType=VARCHAR},
            </if>
            <if test="targetDrive != null">
                target_drive = #{targetDrive,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.unicdata.entity.system.EmployeeTarget">
    update employee_target
    set employee_id = #{employeeId,jdbcType=INTEGER},
      target_order = #{targetOrder,jdbcType=INTEGER},
      target_deliver = #{targetDeliver,jdbcType=INTEGER},
      target_cus = #{targetCus,jdbcType=INTEGER},
      target_record = #{targetRecord,jdbcType=INTEGER},
      target_time = #{targetTime,jdbcType=VARCHAR},
      target_drive = #{targetDrive,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <!-- 门店某月目标数 -->
    <select id="getMothTargetNumByStoreId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        IFNULL(SUM(et.target_order),0) AS orderSum,
        IFNULL(SUM(et.target_deliver),0) as deliverSum,
        IFNULL(SUM(et.target_cus),0) as cusSum,
        IFNULL(SUM(et.target_record),0) as recordSum,
        IFNULL(SUM(et.target_drive),0) as driveSum
        FROM
        employee_target et
        LEFT JOIN employee e ON e.id=et.employee_id
        WHERE
        e.data_status=1
        AND e.user_status=1
        <if test="targetTime != null">
            AND et.target_time = date_format(#{targetTime,jdbcType=VARCHAR}, '%Y-%m')
        </if>
        <if test="storeId != null">
            AND e.store_id=#{storeId,jdbcType=INTEGER}
        </if>
    </select>

    <select id="saleManTarget" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        e.id employeeId,
        e.full_name employeeName,
        t.target_cus targetCus,
        t.target_deliver targetDeliver,
        t.target_drive targetDrive,
        t.target_order targetOrder,
        t.target_record targetRecord,
        t.target_time targetTime
        FROM
        employee e
        LEFT JOIN employee_target t ON t.employee_id = e.id and t.target_time = #{targetTime}
        WHERE
        e.store_id = #{storeId}
        AND e.post_name = #{postName}
  </select>

    <select id="employeeIdTarget" resultMap="BaseResultMap" parameterType="java.util.Map">
      SELECT  * from employee_target WHERE employee_id = #{employeeId} AND target_time = #{targetTime}
    </select>
</mapper>