<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unicdata.dao.product.InsuranceExtensionFamilyMapper">
  <resultMap id="BaseResultMap" type="com.unicdata.entity.product.InsuranceExtensionFamily">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="insurance_extension_id" jdbcType="INTEGER" property="insuranceExtensionId" />
    <result column="family_id" jdbcType="INTEGER" property="familyId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, insurance_extension_id, family_id
  </sql>
  <select id="selectByExample" parameterType="com.unicdata.entity.product.InsuranceExtensionFamilyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from inusrance_extension_family
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from inusrance_extension_family
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from inusrance_extension_family
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.unicdata.entity.product.InsuranceExtensionFamily">
    insert into inusrance_extension_family (id, insurance_extension_id, family_id
      )
    values (#{id,jdbcType=INTEGER}, #{insuranceExtensionId,jdbcType=INTEGER}, #{familyId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.unicdata.entity.product.InsuranceExtensionFamily" useGeneratedKeys="true"
          keyProperty="id">
    insert into inusrance_extension_family
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="insuranceExtensionId != null">
        insurance_extension_id,
      </if>
      <if test="familyId != null">
        family_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="insuranceExtensionId != null">
        #{insuranceExtensionId,jdbcType=INTEGER},
      </if>
      <if test="familyId != null">
        #{familyId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unicdata.entity.product.InsuranceExtensionFamily">
    update inusrance_extension_family
    <set>
      <if test="insuranceExtensionId != null">
        insurance_extension_id = #{insuranceExtensionId,jdbcType=INTEGER},
      </if>
      <if test="familyId != null">
        family_id = #{familyId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unicdata.entity.product.InsuranceExtensionFamily">
    update inusrance_extension_family
    set insurance_extension_id = #{insuranceExtensionId,jdbcType=INTEGER},
      family_id = #{familyId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="deleteByInsuranceExtensionId" parameterType="java.lang.Integer">
    delete from inusrance_extension_family where insurance_extension_id = #{insuranceExtensionId,jdbcType=INTEGER}
  </select>
</mapper>