<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unicdata.dao.basedata.ProvinceMapper">
  <resultMap id="BaseResultMap" type="com.unicdata.entity.basedata.Province">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="province_name" jdbcType="VARCHAR" property="provinceName" />
    <result column="pinyin" jdbcType="VARCHAR" property="pinyin" />
    <result column="order_by" jdbcType="CHAR" property="orderBy" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="short_province_name" jdbcType="VARCHAR" property="shortProvinceName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, province_name, pinyin, order_by, status, short_province_name
  </sql>
  <select id="selectByExample" parameterType="com.unicdata.entity.basedata.ProvinceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from province
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from province
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from province
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.unicdata.entity.basedata.Province">
    insert into province (id, province_name, pinyin, 
      order_by, status, short_province_name
      )
    values (#{id,jdbcType=INTEGER}, #{provinceName,jdbcType=VARCHAR}, #{pinyin,jdbcType=VARCHAR}, 
      #{orderBy,jdbcType=CHAR}, #{status,jdbcType=SMALLINT}, #{shortProvinceName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.unicdata.entity.basedata.Province" useGeneratedKeys="true" keyProperty="id">
    insert into province
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="provinceName != null">
        province_name,
      </if>
      <if test="pinyin != null">
        pinyin,
      </if>
      <if test="orderBy != null">
        order_by,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="shortProvinceName != null">
        short_province_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="provinceName != null">
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null">
        #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null">
        #{orderBy,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="shortProvinceName != null">
        #{shortProvinceName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unicdata.entity.basedata.Province">
    update province
    <set>
      <if test="provinceName != null">
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null">
        pinyin = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null">
        order_by = #{orderBy,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="shortProvinceName != null">
        short_province_name = #{shortProvinceName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unicdata.entity.basedata.Province">
    update province
    set province_name = #{provinceName,jdbcType=VARCHAR},
      pinyin = #{pinyin,jdbcType=VARCHAR},
      order_by = #{orderBy,jdbcType=CHAR},
      status = #{status,jdbcType=SMALLINT},
      short_province_name = #{shortProvinceName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>